<!DOCTYPE html>
<html>
  <head>
    <title>Custom Web App</title>
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <h1>It works!</h1>
    <p>Congratulation, you have just installed your Flask template web app.</p>

    <h2>Edit this site</h2>
    <p>
      To edit this site, put your files in /var/www/__APP__/www using SSH/SCP.
    </p>

    <h2>Auth</h2>
    <p>
    {% if current_user.is_authenticated %}
      You are logged in as: {{ current_user.name }}!
    {% endif %}
    </p>

    <p>As a reward, here is a random cat picture:</p>
    <img src="https://thecatapi.com/api/images/get?format=src&type=gif">
  </body>
</html>
